Flask==3.0.2
flask-cors==4.0.0
gunicorn==21.2.0
numpy==2.2.0
scipy==1.13.0
pretty_midi==0.2.10
librosa==0.10.1
pydub==0.25.1
soundfile==0.12.1
python-dotenv==1.0.1
tqdm==4.67.1
httpx==0.28.1
openai==1.23.2
